<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	​
	<!-- Define the log appender in application.properties -->
	<springProperty name="logLevel" source="logging.level"/>
	
	<!-- Example for logging into the build folder of your project -->
	<property name="LOG_FILE" value="${BUILD_FOLDER:-build}/${springAppName}"/>​

	<!-- You can override this to have a custom pattern -->
	<property name="CONSOLE_LOG_PATTERN"
			  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(%X{req.xForwardedFor}) %clr(---){faint} %clr(%X{logEntryType}) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr(%X{app.reqOrResp}){faint} %clr(%X{req.inOrOut}){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<!-- Appender to log to console -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- Minimum logging level to be presented in the console logs-->
			<level>info</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	       	<pattern>${CONSOLE_LOG_PATTERN}</pattern>
	       	<charset>UTF-8</charset>  
	    </encoder>
	</appender>
	​
	<!-- Appender to log to file in a JSON format -->
	
	<logger name="com.cathaypacific" level="${logLevel}" />
	
	<logger name="org.perf4j.TimingLogger" additivity="false" />
	​
	<root level="DEBUG">
		<appender-ref ref="console"/>
		<!-- uncomment this to have also JSON logs -->
		<!--<appender-ref ref="logstash"/>-->
		<!--<appender-ref ref="flatfile"/>-->
	</root>
</configuration>